body, html {
	background-color: #222;
	margin: 0;
	height: 100%;
}
#loading {
	display: none;
	color: white;
    float: left;
    font: 2em sans-serif;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
    z-index: 100;
}
#gipCanvas {
	background-color: #222;
	position: absolute;
}
#box2dCanvas {
	position: absolute;
	opacity: 0;
}
#divBtnDebug {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

#editor {
	background-color: #FFF;
	position: absolute;
	opacity: 1;
	border-right: 2px solid black; 
	width: 250px;
	height: 100%;
	margin:	0;
	padding:20px;
	display: none;
	box-sizing: border-box;
}