body, html {
	background-color: #333;
	margin: 0;
}
#loading {
	display: none;
	color: white;
    float: left;
    font: 2em sans-serif;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
    z-index: 100;
}
#divCanvas {
	width: 800px;
	height: 600px;
	margin: auto;
}
#gipCanvas {
	background-color: #333;
	position: absolute;
}
#box2dCanvas {
	position: absolute;
	opacity: 0;
}
#divBtnDebug {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}